@{
    ViewData["Title"] = "Home Page";
}
@model Product
<div class="text-center fs-3 ">
    <a href="/" class="link-dark">Products </a><a href="/categories" class="link-dark"> Categories</a>
</div>
<div class="row text-center">
    
    <div class="col mt-5">
        <form action="/product/add" method="post">
        <div class="row g-3 align-items-center">
            <div class="col">
                <label  class="col-form-label">Name:</label>
            </div>
            <div class="col">
                <input type="text" asp-for="Name" class="form-control" >
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col">
                <label class="col-form-label">Description</label>
            </div>
            <div class="col">
                <input type="text" asp-for="Description" class="form-control" >
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col">
                <label  class="col-form-label">Price</label>
            </div>
            <div class="col">
                <input type="number" asp-for="Price" class="form-control">
            </div>
        </div>
        <input type="submit" value="Create" class="btn btn-success mt-5">
        </form>
    </div>
    
    <div class="col d-flex justify-content-center " style="height: 4 00px;">
        <div class="vr"></div>
    </div>

    <div class="col mt-5">
        @foreach(var p in @ViewBag.All_Products){
    <li><a href="/product/@p.ProductId">@p.Name</a></li>
    }
    </div>
</div>